---
import Layout from '../layouts/Layout.astro';

const title = 'How To Svelte';
---

<Layout title={title}>
	<main>
<h1 class="text-6xl text-center p-5">{title}</h1>
	  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam blanditiis nisi dolorum sint cupiditate accusantium quis dignissimos assumenda ducimus consequuntur praesentium, minus quae deleniti temporibus ipsa veritatis libero dolorem. Eum?
	</main>
</Layout>
